#frediModal {
	background: white url(preload.gif) no-repeat center 50%;
	position: fixed;
	z-index: 9999;
	top: 30%;
	left: 30%;
	padding: 0px;
	height: 1px;
	min-height: 40%;
	width: 1px;
	min-width: 40%;
	-webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -ms-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease;    
}

#frediModal.frediModalOpen {
	top: 5%;
	left: 5%;
	min-width: 90%;
	min-height: 90%;
}

#frediModal iframe {
	border: none;
	width: 100%;
	height: 100%;
	background: #fff;
}

#frediOuter {
	background: #000;
	opacity: 0.4;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#frediClose {position:absolute; top:-15px; left:-15px; width:30px; height:30px; cursor:pointer; background:url(close.png) no-repeat}
#frediClose:hover {background-position:0 -30px}
